body{
  font-family: Arial;
  text-align: center;

}

a{
	text-decoration: none;
}



.container1{
	padding-top: 100px;
	padding-bottom: 100px;
}

.header{
opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.header2{
	opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  padding-top: 150px;
  padding-bottom: 100px;
}

.activity{
	margin-left: auto;
	margin-right: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  animation: move 4s infinite;
  animation-direction: alternate-reverse;
}

@keyframes move {
  0%   {background-color:red; left:0px;}
  25%  {background-color:yellow; left:200px;}
  50%  {background-color:blue; left:-200px;}
  75%  {background-color:green; left::200px;}
  100% {background-color:red;  left:0px;}
}

/*////////////////////////////////////////*/


.container2{
	padding-top: 70px;
	padding-bottom: 100px;
}

.emphasis{
	font-size: 50px;
	font-weight: bolder;
	
}

.flash{
	animation: flash 1s infinite alternate-reverse;
}

/*////////////////////////////////////////*/



.container3{
	background-color: black; 
	padding-top: 150px;
	padding-bottom: 100px; 
	height: 200px;
	width: auto;
  transition: background-color 2s;

}

.container3:hover{
	background-color: #D0E3C4
}

@keyframes fadeIn {
  0% {    opacity: 0;}
  100% {    opacity: 1;}
}

@keyframes flash {
	0%{ color: black }
	100%{ color: #D0E3C4 }
}

/*////////////////////////////////////////*/

.container4{
/*	position: absolute;
	left: 50%;
  transform: translate(-50%, 50%);*/
  padding-top: 100px;
  padding-bottom: 50px; 
  height: 250px;
}

.grow{
size: 50px;
animation: grow 2s infinite alternate;
}

@keyframes grow {
  0% { transform: scale(1);}
  100% { transform: scale(1.5);}
}
.aviation{
	size: 50px;
}
/*////////////////////////////////////////*/


.container5{
	background-color: black;
	color: white;
	left: 50%;
  	padding-top: 100px;
	padding-bottom: 100px; 
	height: 250px;
	transition: scale 5s; 
	text-overflow: hidden;
} 

.grow2{
	padding-top: 10px;
	animation: big 4s infinite;

}

@keyframes big {
  0% { transform: scale(1);}
  100% { transform: scale(7);}
}

/*////////////////////////////////////////*/
